<div id='about-me' class='main-container'>
  <h2 class='crown-of-thorns-color'> About Me </h2>
  <div class="pure-g">
    <div class="pure-u-1-4">
      <img class='profile-pic' src='img/profilePicture.jpg'></img>
    </div>
    <div class="pure-u-3-4">
      <ul class='no-list-style'>
        <li class='about-me-list'><img src='img/icon8/Code-Fellows-52.png' width='32' height='32' class='about-me-icon' /> <span>Graduate of Code Fellows Full Stack JavaScript Course </span>
        </li>
        <li class='about-me-list'> <img src='img/icon8/Basketball-48.png' width='32' height='32' class='about-me-icon'/> <span> Former Overseas Professinal Basketball Player (Portugal) </span>
        </li>
        <li class='about-me-list'> <img src='img/icon8/Robot-52.png' width='32' height='32' class='about-me-icon' /> <span> Bachelors of Science degree in Electrical Engineering from Northern Arizona University </span>
         </li>
       </ul>
    </div>
  </div>
</div>
