<nav class='header'>
  <div class='home-menu pure-menu pure-menu-horizontal pure-menu-fixed gondola-background'>
    <a class='pure-menu-heading'>Max Jacobsen </a>
    <ul class='pure-menu-list'>
      <li class='pure-menu-item'><a class='pure-menu-link align-content sun-yellow-color'> <i class="material-icons nav-icon">fingerprint</i> About Me </a></li>
      <li class='pure-menu-item'><a class='pure-menu-link align-content sun-yellow-color'> <i class="material-icons nav-icon">pie_chart_outlined</i> Technical Skills </a></li>
      <li class='pure-menu-item'><a class='pure-menu-link align-content sun-yellow-color'><i class="material-icons nav-icon">web</i> Projects </a></li>
      <li class='pure-menu-item'><a class='pure-menu-link align-content sun-yellow-color'><i class="material-icons nav-icon">fitness_center</i> Work Experience </a></li>
      <li class='pure-menu-item'><a class='pure-menu-link align-content sun-yellow-color'><i class="material-icons nav-icon">school</i> Education </a></li>
    </ul>
  </div>
</nav>
