<div class="splash-container banner-img">
  <div class="splash">
    <h1 class="splash-head">My Portfolio</h1>
    <div class="splash-subhead align-content">
      <a href='https://www.linkedin.com/in/maxjacobsen33' target='_blank'> <img class="icon icons8-LinkedIn" src="img/icon8/Linkedin-64.png" width="64" height="64"> </a>
      <a href='https://github.com/max33nau' target='_blank'> <img class="icon icons8-GitHub" src="img/icon8/GitHub-52.png" width="52" height="52"> </a>
    </div>
    <p>
      <a class="pure-button pure-button-primary gondola-color">Projects</a>
    </p>
  </div>
</div>
