<div id='technical-skills' class='main-container'>
  <h2 class='crown-of-thorns-color'> Technical Skills </h2>
  <div class="pure-g">
    <div class='pure-u-12-24 justify-content'>
      <canvas id='generalChart' class='chart-canvas'> </canvas>
    </div>
    <div class='pure-u-12-24 justify-content'>
      <canvas id='meanStackChart' class='chart-canvas'> </canvas>
    </div>
    <div class='pure-u-1 justify-content'>
      <canvas id='additionalJavaScriptChart' class='chart-canvas'> </canvas>
    </div>
  </div>
</div>
